<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="AngularJSTodoListContext"
        connectionString="Server=7788f438-50cc-4593-a6aa-a2d900c6a474.sqlserver.sequelizer.com;Database=db7788f43850cc4593a6aaa2d900c6a474;User ID=sefzknnhmyclcvqg;Password=a8v7mKx4kEHRUycRbCQ73MWg2jxy2jd2PBR85hBfUrS26WDe5xzJiPwukpfcn8ba;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
</configuration>
